.outer-box{
  border-style:solid;
  width:285px;
  height:365px;
  font-size:0;
  box-shadow:0 2px 4px 0 rgb(0, 0, 0, 0.5 )
  
}
.cat-info-box{
  /* border-style:solid; */
  /* height:61px; */
  display:grid;
  margin: auto;
  text-align:center;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(216 216 216);
  font-size:16px;
  
}
.cat-name{
  /* border-style:solid; */
  /* height:61px;
  display:grid;
  margin: auto; */
  text-align:center;
  

  border-right: 2px solid black;
  
}
.cat-age{
  /* border-style:solid; */
  /* width:142px;
  height:61px; */
  /* display:grid;
  margin: auto;
  text-align:center; */
}
.pet-card-image{
width:285px;
height: 285px;

}