.pet-detail-top-section {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.breadcrumbs-pettype-link {
  color: rgb(214, 95, 6);
  font-family: CrimsonText;
  font-size: 44px;
  font-weight: bold;
}