.bg_image {
  background-image: url("./bitmap.jpg");
  margin-top: -113px;
  height: 750px;
  background-size: 1440px 650px;
  background-repeat: no-repeat;
}
.message-box{
  display:flex;
  height:750px;
  flex-direction:column;
  margin:0 auto;
  /* margin-top:100px; */
}
.alignment-box{
  max-width:440px;
  margin-left:50px;
  margin-top:150px;
}

.Adopt-me {
  width: 300px;
  height: 101px;
  font-family: Avenir;
  font-size: 36px;
  font-weight: 800;
  border-radius: 10px;
  color: white;
  /* position: absolute; */
  /* left: 250px;
  top: 440px; */
  background-color: #d65f06;
  cursor: pointer;
}

.Barc {
  
  margin:0 auto;
  margin-bottom: 40px;
  width: 456px;
  height: 55px;
  font-family: Georgia;
  font-size: 50px;
  /* position: absolute; */
  /* left: 150px;
  top: 130px; */
  color: white;
}

.Adopt {
  width: 456px;
  height: 171px;
  font-family: Lato;
  font-size: 48px;
  font-weight: bold;
  color: white;
  /* position: absolute; */
  /* left: 170px;
  top: 220px; */
}
