.bg_image {
  background-image: url("./bitmap.jpg");
  margin-top: -30px;
  height: 750px;
  background-size: 1840px 650px;
  background-repeat: no-repeat;
}

.Adopt-me {
  width: 300px;
  height: 101px;
  font-family: Avenir;
  font-size: 36px;
  font-weight: 800;
  border-radius: 10px;
  color: white;
  position: absolute;
  left: 250px;
  top: 440px;
  background-color: #d65f06;
}

.Barc {
  width: 547px;
  height: 55px;
  font-family: Georgia;
  font-size: 50px;
  position: absolute;
  left: 150px;
  top: 130px;
  color: white;
}

.Adopt {
  width: 456px;
  height: 171px;
  font-family: Lato;
  font-size: 48px;
  font-weight: bold;
  color: white;
  position: absolute;
  left: 170px;
  top: 220px;
}
