.adoption-page-div {
  padding-bottom: 50px;
}

.adoption-process-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.adoption-process-children {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-app-button {
  color: rgb(255, 255, 255);
  min-height: 100px;
  min-width: 300px;
  max-width: 350px;
  font-size: 36px;
  font-weight: 900;
  border: none;
  border-radius: 10px;
  background-color: rgb(214, 95, 6);
}

.start-app-button-gray {
  color: rgb(255, 255, 255);
  min-height: 100px;
  min-width: 300px;
  max-width: 350px;
  font-size: 36px;
  font-weight: 900;
  border: none;
  border-radius: 10px;
  background-color: rgb(174, 174, 174);
}

.form-email {
  width: 400px;
  height: 45px;
  font-size: 24px;
  text-align: center;
}

.form-email-label {
  height: 85px;
  font-size: 24px;
}

.required {
  color: red;
  font-size: 24px;
}

.email-subform-container {
  text-align: left;
  width: 375px;
}