.small-button {
  color: black;
  min-height: 50px;
  min-width: 197px;
  max-width: 50px;
  font-size: 24px;
  font-weight: 900;
  border: none;
  border-radius: 22px;
}

.gold {
  background-color: rgb(255, 211, 90);
}

.gray {
  background-color: rgb(174, 174, 174);
}
