/*   
.navbar {
  overflow: hidden;
  background-color: #333;
  width:100px;
}

.navbar option {
  float:left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

.dropdowna {
  float: right;
  overflow: hidden;
  background-color: #f0f0f0;
  color:black;
  box-shadow:0 2px 4px 0 rgb(0, 0, 0, 0.5 )
}


/* button */
.dropbtna {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: #f0f0f0;;
  font-family: inherit;
  margin: 0;
}



.dropdown-contenta {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color:black;
}

.dropdown-contenta .optin {
  float: none;
  color:black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-contenta .optin:hover {
  background-color: #ddd;
}

.dropdowna:hover .dropdown-contenta {
  display: block;
}