.h2-layout,
.h3-layout {
  text-align: center;
  color: #ffcea9;
}
.h2-layout {
  font-size: 35px;
}
.h3-layout {
  font-size: 25px;
}
footer {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #666666;
  color: white;
  /* width: 100vw; */
  height: 357px;
  border: solid 1px #979797;
}
.h4-layout {
  font-weight: bold;
  font-size: 20px;
  align-items: flex-start;
  text-align: left;
}
.h5-layout {
  font-weight: bold;
  font-size: 20px;
  align-items: flex-start;
  text-align: center;
}
.h6-layout {
  font-size: 20px;
}

.ul-layout {
  list-style-type: none;
  margin: 0;
}
.li-layout {
  font-size: 15px;
}
.p-layout {
  text-align: left;
  font-size: 14px;
}
.col-layout {
  display: flex;
  justify-content: space-evenly;
  padding-right: 10px;
}
.row-layout {
  display: flex;
  justify-content: space-evenly;
}
