.eligibility-info-container {
  background-color: rgb(242,242,242);
  padding: 10px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.eligibility-info-title {
  font-size: 28px;
  letter-spacing: 0.58px;
  text-decoration: underline;
}

.eligibility-info-list > li {
  text-align: left;
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 0.45px;
}
