.book-appointment-container {
  border: solid 1px gray;
  border-radius: 10px;
  margin: 50px 50px 50px 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  max-width: 850px;
}