.book-appointment-container {
  border: solid 1px gray;
  border-radius: 10px;
  margin: 50px 50px 50px 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 1200px;
  height: 850px;
}

.date-columns-container {
  display: flex;
  justify-content: space-between;
}

.form-have-pet {
  font-size: 24px;
}