* {
  box-sizing: border-box;
}

.group-of-dogs {
  margin-top: -15px; 
}

.main-body{
  width: 100vw;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.volunteer-header-text {
  margin-top:150px;
  margin-left:40px;
  color: #2a2a2a;
  font-family: CrimsonText;
  font-size: 44px;
  font-weight: bold;
}

.volunteer-heading {
  text-decoration: underline;
  font-family: Avenir;
  font-size: 36px;
  /* margin-bottom: 5px; */
}

.volunteer-container {
  margin-top: 80px;
  box-sizing: content-box;
  width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: left;

}

.volunteer-with-animals {
  text-align: left;
  /* margin-left: 200px; */
  font-family: Avenir;
  font-size: 36px;
  margin-bottom: 0px;
}

.volunteer-list {
  text-align: left;
  /* margin-left: 160px; */
  font-family: Avenir;
  font-size: 28px;
  list-style: none;
  padding: 0px;
  margin: 0px;
}


.volunteer-list-with-bullets {
  text-align: left;
  margin-left: 30px;
  font-family: Avenir;
  font-size: 28px;
  /* list-style: none; */
  padding: 0px;
  /* margin: 0px; */
}
.warning-message {
  /* width:100vw; */
  margin:0 auto;
  color: #ff0000;
  font-size: 30px;
  text-align: center;
}

.keep-in-mind {
  font-size: 20px;
  letter-spacing: 0.32px;
  text-align: center;
  margin:0 auto;
  width: 90%;
}

.images-of-people {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 100px;
  padding: 50px;
  /* margin-left: 220px; */
}

.court-school-style {
  font-size: 45px;
  text-align: left;
  /* text-indent: 180px; */
}
