.group-of-dogs {
  width: 100%;
  margin-top: -15px;
}

.volunteer-header-text {
  margin-top: -140px;
  margin-left: -1200px;
  color: #2a2a2a;
  font-family: CrimsonText;
  font-size: 44px;
  font-weight: bold;
}
.group-of-dogs {
  width: 110%;
}

.volunteer-header-text {
  margin-top: -140px;
  margin-left: -1200px;
  color: #2a2a2a;
  font-family: CrimsonText;
  font-size: 44px;
  font-weight: bold;
}
