.cta-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(242, 242, 242);
  width: 1440px;
  margin-top: 50px;
}

.cta-see-our-pets, 
.cta-sponsor-a-pet {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
