/* .secondary-header-image-div,
.secondary-header-image {
  max-width:1440px ;
} */

.secondary-header-image-div {
  position: relative;
}

.secondary-header-image-title {
  position: absolute;
  top: 75px;
  left: 50px;
  color: #2a2a2a;
  font-family: CrimsonText;
  font-size: 44px;
  font-weight: bold;
}

.secondary-breadcrumb-name {
  position: absolute;
  top: 120px;
  left: 390px;
  color: #2a2a2a;
  font-family: CrimsonText;
  font-size: 44px;
  font-weight: bold;
}